html {
    height: 100%;
}
body {

}
#student_section {
    padding-top: 2em;
    padding-bottom: 60px;
    background: url("/static/img/body_background_image.png");
    background-repeat: repeat-y;
    background-position: center top;
}
#about_section {
    padding-bottom: 60px;
}
#container {
    min-height: 100%;
    position: relative;
}
/* Global bootstrap button style override */
.btn-primary {
    background-color: #42235e;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
    background-color: #fefefe;
    color: #42235e;
    border-color: #42235e;
}