html {
    height: 100%;
}
body {

}
#student_section {
    padding-top: 2em;
    padding-bottom: 60px;
    background: url("/static/img/body_background_image.png");
    background-repeat: repeat-y;
    background-position: center top;
}
#about_section {
    padding-bottom: 60px;
}
#container {
    min-height: 100%;
    position: relative;
}
