.midSection {
    background-color: #7F7CAF;
    border-radius: 25px;
    margin-bottom: 2em;
    padding: 15px;
}
.movie-photo {
    width: 350px;
    border-radius: 35px;
}
.game-photo {
    width: 350px;
}
.zoom {
    cursor: pointer;
    padding: 25px;
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}