.navbar-logo {
    width: 7em;
    margin: 0.5em;
}
.navbar-nav {
    margin-left: auto;
    margin-right: 15px;
}
.navbar {
    background-color: #42235e;
    color: #a29061;
}
.nav-link:link {
    color: #a29061;
}
.nav-link:visited {
    color: #a29061;
}
.nav-link:hover {
    color: #fefefe;
}
.nav-link:active {
    color: #fefefe;
}


/* If the screen size is 1200px wide or more, set the font-size to 80px */
@media (min-width: 1200px) {
  .navbar-logo {
    width: 7em;
  }
  .navbar-title {
    font-size: 30px;
  }
  .nav-link {
    font-size: 25px;
    margin: 15;
  }
}
/* If the screen size is smaller than 1200px, set the font-size to 80px */
@media (max-width: 1199.98px) {
  .navbar-logo {
    width: 5em;
  }
  .navbar-title {
    font-size: 25px;
  }
  .nav-link {
    font-size: 16px;
    margin: 10px;
  }
}