.navbar {
    background-color: #42235e;
    color: #a29061;
}
.nav-link:link {
    color: #a29061;
}
.nav-link:visited {
    color: #a29061;
}
.nav-link:hover {
    color: #fefefe;
}
.nav-link:active {
    color: #fefefe;
}