<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Imported CSS -->
        <link rel="stylesheet" href="{% static 'bootstrap-5.1.3-dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'bootstrap-5.1.3-dist/css/bootstrap.min.css.map' %}" />
        <link rel="stylesheet" href="{% static 'font-awesome/fontawesome-free-6.0.0-web/css/all.min.css' %}" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'CustomCSS/base.css' %}" />
        <link rel="stylesheet" href="{% static 'CustomCSS/banner.css' %}" />
        <link rel="stylesheet" href="{% static 'CustomCSS/contact.css' %}" />
        <link rel="stylesheet" href="{% static 'CustomCSS/mid.css' %}" />
        <link rel="stylesheet" href="{% static 'CustomCSS/footer.css' %}" />
        <link rel="stylesheet" href="{% static 'CustomCSS/navbar.css' %}" />

        <title>Butler 2022 Capstone</title>
    </head>
    {% include 'NavBar.html' %}
    {% include 'Messages.html' %}
    {% include 'Contact.html' %}
    <body>
        {% include 'UpperSection.html' %}

        <div id='student_section'>
            <div id="about_section">
                {% include 'MidSection.html' %}
            </div>
            {% include 'LowerSection.html' %}
        </div>

        <!-- Imported JS -->
        <script src="{% static 'bootstrap-5.1.3-dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'bootstrap-5.1.3-dist/js/bootstrap.min.js.map' %}"></script>

        <!-- Custom JS -->
        <script src="{% static 'CustomJS/messages.js' %}"></script>
    </body>
    {% include 'Footer.html' %}
</html>
