<!-- Modal -->
<div class="modal fade"
     tabindex="-1"
     role="dialog"
     id="contact-modal"
     aria-labelledby="contact-modal"
     aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post">
                <div class="modal-header d-flex flex-row">
                    <div class="align-items-start">
                        <h5 class="modal-title">
                            Contact Us
                        </h5>
                    </div>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                </div>
                    <div class="modal-body">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}

                        <div class="contact-field">
                            {{ form.from_email | as_crispy_field }}
                        </div>

                        <div class="contact-field">
                            {{ form.subject | as_crispy_field }}
                        </div>

                        <div class="contact-field">
                            {{ form.message | as_crispy_field }}
                        </div>

                        <div class="contact-field captcha">
                            {{ form.hcaptcha }}
                        </div>
                    </div>
                <div class="modal-footer d-flex justify-content-center">
                    <input class="btn btn-primary" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>