{% load static %}
{% for data in student %}
    <div class="text-center">
        <h4>{{ data.student_section_description }}</h4>
    </div>
{% endfor %}

<div class="container border mt-5 mb-5 p-5">
    <div class="d-flex justify-content-between p-5"
         data-toggle="collapse"
         data-target="#webdev"
    >
        <h2  style="cursor: pointer;">Website Developers</h2>
        <i class="fas fa-arrow-down" style="cursor: pointer;"></i>
    </div>
    <div id="webdev" class="row text-center justify-content-center collapse">
        {% for data in team %}
            {% if data.member_major == 0 %}
                {% include 'StudentProfile.html' %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="d-flex justify-content-between p-5"
         data-toggle="collapse"
         data-target="#softdev"
    >
        <h2 style="cursor: pointer;">Software Developers</h2>
        <i class="fas fa-arrow-down" style="cursor: pointer;"></i>
    </div>
    <div id="softdev" class="row text-center justify-content-center collapse">
        {% for data in team %}
            {% if data.member_major == 1 %}
                {% include 'StudentProfile.html' %}
            {% endif %}
        {% endfor %}
    </div>

    <div class=" d-flex justify-content-between p-5"
         data-toggle="collapse"
         data-target="#digmed"
    >
        <h2 style="cursor: pointer;">Digital Media</h2>
        <i class="fas fa-arrow-down" style="cursor: pointer;"></i>
    </div>
    <div id="digmed" class="row text-center justify-content-center collapse">
        {% for data in team %}
            {% if data.member_major == 2 %}
                {% include 'StudentProfile.html' %}
            {% endif %}
        {% endfor %}
    </div>
</div>

{% include 'StudentModal.html' %}
