<body>
    <nav class="navbar navbar-expand-sm">
        <div class="navbar-brand">
            <a id="nav-brand"
               class="nav-link"
            >
                Home
            </a>
        </div>

        <button
            class="navbar-toggler navbar-dark"
            type="button"
            data-toggle="collapse"
            data-target="#main-navigation"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="main-navigation">
            <ul class="navbar-nav">
                <li class="nav-item mr-3">
                    <a class="nav-link">
                        Game Link
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link">
                        Movie Link
                    </a>
                </li>
                <li class="nav-item mr-3">
                    <a class="nav-link"
                        data-toggle="modal"
                        data-target="#contact-modal"
                    >
                        Contact Us
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Modal -->
    <div class="modal fade"
         tabindex="-1"
         role="dialog"
         id="contact-modal"
         aria-labelledby="contact-modal"
         aria-hidden="true"
    >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post">
                    <div class="modal-header d-flex flex-row">
                        <div class="align-items-start">
                            <h5 class="modal-title">
                                Contact Us
                            </h5>
                        </div>
                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <div class="modal-body">
                            {% load crispy_forms_tags %}
                            {% csrf_token %}

                            {{ form.from_email | as_crispy_field }}
                            {{ form.subject | as_crispy_field }}
                            {{ form.message | as_crispy_field }}
                        </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <input class="btn btn-primary" type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous">
    </script>
</body>
